.footer {
 text-align: center;
 min-height: 12vh;
 font-size: 1.2rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.copyright {
 &__text {
  margin: 0;
 }

 &__text:first-child {
  margin-bottom: 2px;
 }
}

@media(min-width: 400px) {
 .footer {
  font-size: 1.4rem;
 }
}

@media(min-width: 1024px) {
 .footer {
  font-size: 1.5rem;
 }
}

@media(min-width: 1440px) {
 .footer {
  font-size: 1.6rem;
 }
}


// zbyt blisko footer do main zero odstepu 1366 x 768