@mixin handleCenteringX() {
 left: 50%;
 transform: translateX(-50%);
}

@mixin handlePseudoElements() {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

@mixin handleSize($width, $height) {
 width: $width;
 height: $height;
}

@mixin handleFlexColumnCenter() {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}