P.section-nopage {
 padding-top: 10px;
 min-height: 76vh;

 &__title {
  margin: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
 }
}

@media(min-width: 1400px) {
 .section-nopage {
  &__title {
   font-size: 1.8rem;
  }
 }
}