.section-sticky-notes {
 padding-top: 40px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 position: relative;

 &::before {
  content: "";
  position: absolute;
  top: 24px;
  @include handleCenteringX();
  @include handleSize(75%, 2px);
  background-color: #000;
  border-radius: 40px;
 }

 &::after {
  content: "";
  position: absolute;
  top: 20px;
  @include handleCenteringX();
  @include handleSize(10px, 10px);
  background-color: #000;
  border-radius: 40px;
 }
}

.sticky-note {
 margin: 20px 0;
 padding: 15px;
 border: 4px double $darkGrey;
 position: relative;
 flex-basis: 80%;
 background-color: $delicateYellow;

 &__delete {
  border: 1px solid #b1ada5;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 600;
  background-color: #d2cec7;
 }

 &__date {
  margin: 0;
  font-size: 1.4rem;
 }

 &__keywords {
  font-size: 1.5rem;
 }

 &__btn-more-info {
  border: 1px solid #000;
  margin: 0 auto;
  padding: 6px 10px;
  display: block;
  width: 60%;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #fff;
 }
}

@media(min-width: 400px) {
 .sticky-note {
  flex-basis: 75%;
 }
}

@media(min-width: 500px) {
 .sticky-note {
  flex-basis: 60%;
 }
}

@media(min-width: 1024px) {

 .section-sticky-notes {
  padding-top: 60px;
  margin: 0 auto;
  justify-content: space-around;
  width: 80%;

  &::before {
   width: 40%;
  }
 }

 .sticky-note {
  flex-basis: 42%;

  &__date {
   font-size: 1.5rem;
  }

  &__delete {
   font-size: 2rem;
   cursor: pointer;
  }

  &__title {
   font-size: 1.9rem;
  }

  &__btn-more-info {
   padding: 0;
   @include handleSize(50%, 30px);
   line-height: 28px;
   cursor: pointer;
  }
 }
}

@media(min-width:1300px) {
 .section-sticky-notes {
  width: 75%;
 }
}

@media(min-width:1900px) {
 .section-sticky-notes {
  width: 68%;
 }

 .sticky-note {
  flex-basis: 38%;
 }
}